* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

#search {
    width: 80vw;
    padding: 0.2rem 1rem;
}

.pokemon-name {
    text-transform: capitalize;
}

.pokemon-stats {
    text-transform: uppercase;
}

#resultados {
    padding: 20px;
    margin-top: 15px;
}

.resultados-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}
