:root {
    --red: #ff0000;
    --blue: #384cca;
    --yellow: #ffde00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Pokemon";
    src: url("./fonts/pokemon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--blue);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-bottom: 1.5rem;
    background-color: black;
}

h1 {
    color: var(--yellow);
    font-size: 1.75rem;
    font-family: "Pokemon";
    letter-spacing: 4px;
}

#pokemon-finder {
    width: 12%;
    height: 12%;
}

#search-container {
    display: flex;
    gap: 0.1rem;
    background-color: #ffffff;
    border-radius: 3rem;
    padding: 0.5rem;
}

#search-container img {
    width: 10vw;
}

#search {
    width: 70vw;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
}

#searchButton {
    width: 3rem;
    height: 1.5rem;
    bottom: hover;
}

main {
    width: 100vw;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#pokemons {
    color: black;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--blue);
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 3rem;
    list-style: none;
}

.poke-match {
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    background-color: var(--red);
    color: var(--yellow);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5rem solid #000;
    background-image: linear-gradient(transparent 50%, #fff 50%);
    position: relative;
    transition: all 0.2s ease-in-out;
}

.poke-match:hover {
    background-color: var(--yellow);
    color: var(--blue);
}

.poke-match:hover::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.5rem solid #000;
    background-color: var(--blue);
}

.poke-match::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5rem;
    background-color: #000;
}

.poke-match::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    border: 0.5rem solid #000;
    transition: all 0.2s ease-in-out;
}

.poke-match p {
    position: relative;
    z-index: 2;
    margin-top: -4rem;
    font-weight: bold;
    width: 80%;
}

.pokemon-name {
    text-transform: capitalize;
}

#pokedex {
    display: none;
    background-image: url(./img/pokedex_v2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100vw;
    height: 66vh;
    min-width: 800px;
    min-height: 640px;
    justify-content: center;
}

#card {
    display: none;
    width: 21vw;
    overflow: hidden;
    height: 6vh;
    border: 0.75rem solid #000;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #ffffcc, var(--yellow));
    font-family: "Arial", sans-serif;
    font-family: "";
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    padding: 15px;
    text-align: center;
    position: relative;
    top: 11%;
    left: 2%;
    min-width: 388px;
    min-height: 480px;
}

#card .pokemon-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
    text-transform: upp;
    border-radius: 1rem;
    background-color: rgb(255, 255, 44);
}

.pokemon-stats {
    text-transform: uppercase;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.pokemon-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pokemon-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-data .pokemon-stats .pokemon-types {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.pokemon-imgs img {
    max-width: 75px;
    height: auto;
}

/* Estilos para el modo oscuro */
body.modo-oscuro {
    background-color: #121212;
    color: #ffffff;
}
header.modo-oscuro {
    background-color: var(--red);
}
#search-container.modo-oscuro {
    background-color: #ffffff;
}

#search.modo-oscuro {
    background-color: #464641;
    color: #ffffff;
}
#card.modo-oscuro {
    background: linear-gradient(to bottom, #333334, #555555);
    border-color: #666666;
    color: #ffffff;
}
.pokemon-name.modo-oscuro {
    background-color: #464640;
}
.resultados-grid.modo-oscuro {
    background-color: #1e1e1e;
}

footer {
    width: 100%;
    text-align: center;
    background-color: white;
    color: #000;
}

#logo {
    width: 3%;
    height: 3%;
    position: relative;
    left: 35 rem;
}

/* Estilo del boton  */
section.boton {
    background-color: var(--yellow);
    color: #050404;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

/* Media query para tamaño de pantalla */

@media (min-width: 768px) {
    #search-container img {
        width: 4vw;
    }

    #pokemons {
        grid-template-columns: repeat(3, 1fr);
    }
}
